
    
    #landing-body {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-top: 26vh;
    padding-top: 1vh;
    padding-bottom: 2.5vh;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    background: rgba(42, 42, 42, 0.5);
    border-radius: 25px;
    }
    
    .btn-secondary{
    color: white;
    background-color: rgb(23, 36, 36);
    text-shadow: none;
    }
    .btn-secondary:hover{
        color: white;
        background-color: #b1053f;
    }
    
    
    .cover-container {
    max-width: 60vw;
    }
    
    /* .nav-link.active {
    color: white;
    border-bottom-color:white;
    
    } */
    
    .slideshow {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    .slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 35s linear infinite;
    }
    
    .slideshow li:nth-child(1) {
    background-image: url(https://img.freepik.com/free-vector/online-doctor-concept-illustration_114360-1783.jpg?w=900&t=st=1688983920~exp=1688984520~hmac=a62c0d9873986ef8b89d9e45d97395478e41e99bed68f36ebf9b770c768957e4);
    }
    .slideshow li:nth-child(2) {
    background-image: url(https://img.freepik.com/free-photo/medical-teleconsultation-sick-patient-home_23-2149329018.jpg?w=900&t=st=1688982826~exp=1688983426~hmac=44981692fce6fa0e830b7b2db6d0b126c88e365fdf5958402dbc73e865a30c1f);
    animation-delay: 7s;
    }
    .slideshow li:nth-child(3) {
    background-image: url(https://img.freepik.com/free-photo/young-woman-writing-respiratory-sickness-treatment-notebook-discussing-pills-treatment-during-online-healthcare-videocall_482257-2344.jpg?w=1060&t=st=1688983038~exp=1688983638~hmac=93a8ae71f9a851e4059b40d9e8936f6220f63fd746ac318568ebec2d4add062a);
    animation-delay: 14s;
    }
    .slideshow li:nth-child(4) {
    background-image: url(https://img.freepik.com/free-photo/diagnose-doctor-medicine-health-wellness-concept_53876-124256.jpg?w=826&t=st=1688983220~exp=1688983820~hmac=cbd029e4686162bfebd6b1e8598fba84155d510f87a5abd5d4297402c59f1a4c);
    animation-delay: 21s;
    }
    .slideshow li:nth-child(5) {
    background-image: url(https://img.freepik.com/free-vector/online-doctor-consultation-illustration_88138-414.jpg?w=1060&t=st=1688983530~exp=1688984130~hmac=8c5cb80b9ef2943a1d13704c45edd546a90de1dd4c79a2998b65eee4b6d1373d);
    animation-delay: 28s;
    }
    
    @keyframes imageAnimation {
    0% {
    opacity: 0;
    animation-timing-function: ease-in;
    }
    10% {
    opacity: 1;
    animation-timing-function: ease-out;
    }
    20% {
    opacity: 1;
    }
    30% {
    opacity: 0;
    }
    }
    
    /* Older browser support - .no-cssanimations class added by modernizr */
    .no-cssanimations .slideshow li {
    opacity: 1;
    }